<p>Input Variables</p>

<ul class="list-group mb-2" [formGroup]="parent">
    <span>
        <label for="description" class ="mr-3">Problem Type: </label>
        <select name="type" formControlName="problemType"  [(ngModel)]="selectedOption" class="col-md-2 mr-3">
            <option *ngFor="let option of options | keyvalue" [ngValue]="option.value" >{{option.value}}</option>
        </select>
    </span>
    <app-variable-item *ngFor="let item of items; index as i;" [name]="item" [parent]="variables" [selectedOption]="selectedOption" (removed)="removeVariable(i)"></app-variable-item>
</ul>

<fa-icon [icon]="faPlus" class="d-flex justify-content-center" style="color:black;" size="2x" (click)="addVariable()" ></fa-icon>

