$blue-darker:  #011f4b;
$blue-dark:    #03396c;
$blue:         #005b96;
$blue-light: #4689b0;
$blue-lighter: #b3cde0;

$red: #bf3030;
$red-dark: #a62929;

$primary: #52057b;
$primary-dark: #30004d;
$primary-darker: #11001a;
$primary-light: #892cdc;
$primary-lighter: #bc6ff1;
