@import "colors";


body {
	background-color: $bg;
	color: $fg;
	font-family: 'Open Sans', 'Segoe UI', sans-serif;
}

.section {
	border-top: 0.5em solid $primary-light;

	&:nth-child(1),
	&:nth-child(2), // because of the 'json' element being at the top
	&:nth-last-child(1) {
		border-top: none;
	}

	> *,
	> * > div {
		margin: 0 auto; // center
		max-width: 600px;
	}
}


.icon-add {
}

.icon-remove {
	cursor: pointer;
	color: $red;
	transition: all 100ms ease-out;

	&:hover {
		color: $red-dark;
	}
}

.list-group-item {
	padding-left: 2rem;
	padding-right: 2rem;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, .3);

	select {
		height: 30px;
	}

	.ng-fa-icon {
		line-height: 30px;
		margin: 0 5px;
	}
}
