<li class="list-group-item mb-2" [formGroup]="parentForm">
    <div class="row">
        <div class="col-md-11">
                <input name="name" type="text" formControlName="name" value="{{name}}" class="col-md-4 mr-3"/>
                <span *ngIf="selectedOption == options.Double" >
                    <input name="from" formControlName="lowerLimit" class="col-md-2 mr-3" type="number" value="-1.0" step="0.01"/>
                    <input name="to"  formControlName="upperLimit" class="col-md-2 " type="number" value="1.0" step="0.01"/>
                </span>
                
                <span *ngIf="selectedOption == options.Integer">
                    <input name="from" formControlName="lowerLimit" class="col-md-2 mr-3" type="number" value="-10" />
                    <input name="to"   formControlName="upperLimit"  class="col-md-2 " type="number" value="10" />
                </span>

                <span *ngIf="selectedOption == options.Binary">
                    <input name="from" class="col-md-2 mr-3" type="checkbox" value="-10" />
                </span>
        </div>    
        <div class="col-md-1">
             <fa-icon (click)="removeSelf()" [icon]="faTrash" class="float-right " style="color:red" size="lg" ></fa-icon>
        </div>
    </div>

</li>
