<div class="objectives-container">
    <h4 class="header mb-4">Output Objectives</h4>

    <ul class="list-group mb-2" [formGroup]="parent">
        <app-objective-item *ngFor="let item of objectives.controls; index as i;" [parentControl]="objectives.controls[i]" (removed)="removeObjective(i)"></app-objective-item>
    </ul>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-secondary"><fa-icon [icon]="iconPlus" class="icon-add" size="2x" (click)="addObjective()" title="Add objective"></fa-icon></button>

    </div>
</div>
