@import "../colors";
@import "../helper";

.app-container {
	.description-container {
		padding: 2rem;

		textarea {
			margin-bottom: 0;
		}
	}

	.submit-container {
		margin-bottom: 2rem;

		button {
			display: block;
			margin: 0 auto;
			font-size: 1.5em;
			background-color: $primary;
			border-color: $primary;
			//color: choose-contrast-color($primary);
			color: $bg;
		}
	}

	.error-container {
		text-align: center;

		.error-message {
			margin: 2rem auto;
		}
	}
}

/* Loading animation - https://tobiasahlin.com/spinkit/ */
.sk-chase {
	width: 80px;
	height: 80px;
	//position: relative;
	animation: sk-chase 2.5s infinite linear both;

	position: absolute;
	top: 50%;
	left: calc(50% - 40px);
}

.sk-chase-dot {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	animation: sk-chase-dot 2s infinite ease-in-out both;

	&:before {
		content: "";
		display: block;
		width: 25%;
		height: 25%;
		background-color: $primary;
		border-radius: 100%;
		animation: sk-chase-dot-before 2s infinite ease-in-out both;
	}

	&:nth-child(1) {
		animation-delay: -1.1s;
	}
	&:nth-child(2) {
		animation-delay: -1s;
	}
	&:nth-child(3) {
		animation-delay: -0.9s;
	}
	&:nth-child(4) {
		animation-delay: -0.8s;
	}
	&:nth-child(5) {
		animation-delay: -0.7s;
	}
	&:nth-child(6) {
		animation-delay: -0.6s;
	}
	&:nth-child(1):before {
		animation-delay: -1.1s;
	}
	&:nth-child(2):before {
		animation-delay: -1s;
	}
	&:nth-child(3):before {
		animation-delay: -0.9s;
	}
	&:nth-child(4):before {
		animation-delay: -0.8s;
	}
	&:nth-child(5):before {
		animation-delay: -0.7s;
	}
	&:nth-child(6):before {
		animation-delay: -0.6s;
	}
}

@keyframes sk-chase {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot {
	80%,
	100% {
		transform: rotate(360deg);
	}
}

@keyframes sk-chase-dot-before {
	50% {
		transform: scale(0.4);
	}
	100%,
	0% {
		transform: scale(1);
	}
}
