<app-header></app-header>
<div class="container-fluid ml-4">
    <div class="row mt-4">
        <div class="col-sm">
            <h1 class="d-flex justify-content-center"> Problem </h1>
            <label for="description">Problem Description</label>
            <textarea id="description" class="form-control mb-4" rows="2"></textarea>

            <app-variable-list></app-variable-list>
            <app-objective-list></app-objective-list>
        </div>
        <div class="col-sm">
            <h1 class="d-flex justify-content-center"> Results! </h1>
            
        </div>
    </div>
</div>
