<app-header></app-header>
<div class="app-container">
    <!-- Form -->
    <div class="form" *ngIf="currentStep === 'form'">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
            <!-- JSON -->
            <div class="json">
                <pre>{{form.value | json}}</pre>
            </div>

            <!-- Description -->
            <div class="section">
                <div class="description-container">
                    <h4><label for="description">Problem Description</label></h4>
                    <textarea class="form-control" id="description" formControlName="description" rows="2"></textarea>
                </div>
            </div>

            <!-- Variables -->
            <div class="section">
                <app-variable-list [parent]="form"></app-variable-list>
            </div>

            <!-- Objectives -->
            <div class="section">
                <app-objective-list class="section" [parent]="form"></app-objective-list>
            </div>

            <!-- Submit -->
            <div class="section submit-container">
                <div>
                    <button type="submit" class="btn">FIND SOLUTION</button>
                </div>
            </div>
        </form>
    </div>

    <!-- Loading -->
    <div *ngIf="currentStep === 'loading'">
        <div class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>
    </div>

    <!-- Error -->
    <div *ngIf="currentStep === 'error'">
        <div class="section error-container">
            <div class="error-message">
                {{error}}
            </div>
            <div>
                <button type="submit" class="btn btn-dark" (click)="goBack()">🢐 BACK</button>
            </div>
        </div>
    </div>

    <!-- Results -->
    <div *ngIf="currentStep === 'results'">
        <div class="section submit-container results-back-container">
            <div>
                <pre>{{solution | json}}</pre>
            </div>
            <div>
                <button type="submit" class="btn btn-dark" (click)="goBack()">🢐 BACK</button>
            </div>
        </div>
    </div>
</div>
