<app-header ></app-header>
<div class="container-fluid ">
    <div class="row mt-4">
        <div class="col-sm">
            <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
                <h1 class="d-flex justify-content-center"> Problem </h1>
                <label for="description">Problem Description</label>
                <textarea class="form-control mb-4" formControlName="description" rows="2"></textarea>
                <app-variable-list [parent]="form"></app-variable-list>
                <app-objective-list [parent]="form"></app-objective-list>
                <button type="submit" class="btn btn-dark" >Search !</button>

                <pre>{{form.value | json}}</pre>

            </form>

        </div>
        <div class="col-sm">
            <h1 class="d-flex justify-content-center"> Results! </h1>
        </div>
    </div>
</div>


<!-- public String description;
public VariableType type;
public List<Variable> variables;
public List<Objective> objectives;
public AlgorithmOptions options; -->