<li class="list-group-item mb-2" [formGroup]="parent">
    <div class="row">
        <div class="col-md-11">
            <input name="name" type="text"  formControlName="name" class="col-6 mr-3" />

            <select name="type"  formControlName="goal" [(ngModel)]="selectedOption" class="col-3 mr-2"  >
                <option *ngFor="let option of options | keyvalue" [ngValue]="option.value" >{{option.value}}</option>
            </select>
        </div>    
        <div class="col-md-1">
            <fa-icon (click)="removeSelf()" [icon]="faTrash" class="float-right " style="color:red" size="lg" ></fa-icon>
        </div>
    </div>
</li>
