@import "../../colors";
@import "../../helper";

nav {
	background-color: $primary;

	.navbar-title {
		//color: choose-contrast-color($primary);
		color: $bg;
		font-size: 2em;
		text-decoration: none;
		margin: 0.1em auto;
		user-select: none;
	}
}
