@import "../../colors";

nav {
	background-color: $primary; // older: #f8f9fa
	color: white;

	.navbar-title {
		color: white;
		font-size: 2em;
		text-decoration: none;
		margin: 0.1em auto;
		user-select: none;
	}
}
